{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h3 class="col-md-12">
                {{ 'view_user_header'|trans }}
            </h3>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <dl class="dl-horizontal">
                    <dt>{{ 'user_id'|trans }}</dt>
                    <dd>{{ user.id }}</dd>
                    <dt>{{ 'user_name'|trans }}</dt>
                    <dd>{{ user.name }}</dd>
                    <dt>{{ 'user_email'|trans }}</dt>
                    <dd>{{ user.email }}</dd>
                    <dt>{{ 'user_twitter_handle'|trans }}</dt>
                    <dd>{{ user.twitterHandle }}</dd>
                    <dt>{{ 'user_role'|trans }}</dt>
                    <dd>{{ user.role.name }}</dd>
                    <dt>{{ 'user_created'|trans }}</dt>
                    <dd>{{ user.created|date('Y-m-d H:i') }}</dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock %}
