{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h3 class="col-md-12">
                {{ 'view_user_header'|trans }}
            </h3>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <dl class="dl-horizontal">
                    <dt>{{ 'user_id'|trans }}:</dt>
                    <dd>{{ user.id }}</dd>
                    <dt>{{ 'user_name'|trans }}:</dt>
                    <dd>{{ user.name }}</dd>
                    <dt>{{ 'user_email'|trans }}:</dt>
                    <dd>
                        <img src="{{ gravatar('codesensus@gmail.com', 20, 'd', 'identicon', true) }}" />
                        {{ user.email }}
                    </dd>
                    <dt>{{ 'user_role'|trans }}:</dt>
                    <dd>{{ user.role.name }}</dd>
                    <dt>{{ 'user_created'|trans }}:</dt>
                    <dd>{{ user.created|date('Y-m-d H:i') }}</dd>
                </dl>

                <br/>
                {% if user.twitterHandle %}
                    <a class="twitter-timeline" data-tweet-limit="10" href="https://twitter.com/{{ user.twitterHandle|trim('@') }}?ref_src=twsrc%5Etfw">Tweets by {{ user.twitterHandle|trim('@') }}</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
