{% extends 'admin/base.html.twig' %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('build/admin/js/main.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h3 class="col-md-12">
                {{ 'user_list'|trans }}
            </h3>
        </div>

        <div class="listing" data-url="{{ path('admin_user_list') }}">
            {% include 'admin/user/listing.html.twig' with {'users': users} %}
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('admin_user_add') }}" class="btn btn-primary btn-sm">
                    {{ 'add_new_user_button_label'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
